<div>
  {{front-page-section section = (find-by 'id' (concat 'personality-' model.locale) model.frontPageSections)}}
  {{front-page-section section = (find-by 'id' (concat 'skills-'      model.locale) model.frontPageSections)}}
</div>