<div>
  {{markdown-block section = (find-by 'id' (concat 'personality-' model.locale) model.markdownBlocks)}}
  {{markdown-block section = (find-by 'id' (concat 'skills-'      model.locale) model.markdownBlocks)}}
  {{time-line}}

  {{pro-jects
    projects = model.projects
    locale   = model.locale
  }}
</div>