@at-root

  @import app/styles/helpers/theme
  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer



  ////------------------------------------------
  .heroHeader
    //------------------------------------------

    // ----- Looks -----
    +theme(dark)
    background-image:      url('/images/backgrounds/gplaypattern_@2X.png')
    background-repeat:     repeat
    background-size:       (376px / 2)
    background-attachment: fixed



  ////------------------------------------------
  .heroHeader-inner
    //------------------------------------------

    // ----- Layout -----
    display:         flex
    flex-direction:  column

    align-items:     center
    text-align:      center

    min-height:      100vh
    justify-content: space-between

    padding: 3rem 7%

    +to(xs)
      padding-bottom: 1.5rem

    // ----- Content layout -----



  ////------------------------------------------
  .heroHeader-header
    //------------------------------------------

    // ----- Content layout -----
    .heroHeader-title
      margin-bottom: 1rem

      +from(xs)
        margin-bottom: 1.5rem

      +from(l)
        margin-bottom: 2rem



  ////------------------------------------------
  .heroHeader-title
    //------------------------------------------

    // ----- Text -----
    color: white !important

    // ----- RWD -----
    font-size:   1.5rem
    text-shadow: 0 0 1px white

    +from(xs)
      font-size:   2.2rem
      text-shadow: 0 0 2px white

    +from(l)
      font-size: 3rem



  ////------------------------------------------
  .heroHeader-subtitle
    //------------------------------------------

    // ----- Text -----
    font-family: 'Open Sans', sans-serif
    color:       #ddd !important

    // ----- Content layout -----
    .heroHeader-subtitle-element
      +to(s)
        display: block

    // ----- RWD -----
    font-size: 1.2rem

    +from(xs)
      font-size: 1.4rem

    +from(l)
      font-size: 1.7rem



  ////------------------------------------------
  .heroHeader-avatar
    //------------------------------------------

    // ----- Layout -----

    // ----- Looks -----
    border:           5px solid white
    background-color: white
    border-radius:    50%
    box-shadow:       0 0 2px white

    // ----- RWD -----
    $width: 512px
    width:  ($width / 3)
    height: ($width / 3)

    +from(xs)
      width:  ($width / 2.5)
      height: ($width / 2.5)

    +from(m)
      width:  ($width / 2)
      height: ($width / 2)



  ////------------------------------------------
  .heroHeader-statement
    //------------------------------------------

    // ----- Layout -----
    max-width: 750px

    // ----- Text -----
    color:     white !important

    // ----- RWD -----
    font-size: 1.1rem

    +from(xs)
      font-size: 1.3rem

    +from(l)
      font-size: 1.5rem
