@at-root

  @import app/styles/helpers/theme
  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer



  ////------------------------------------------
  .heroHeader
    //------------------------------------------

    // ----- Looks -----
    +theme(dark)
    background-image:      url('/images/backgrounds/gplaypattern_@2X.png')
    background-repeat:     repeat
    background-size:       (376px / 2)
    background-attachment: fixed



  ////------------------------------------------
  .heroHeader-inner
    //------------------------------------------

    // ----- Layout -----
    display:         flex
    flex-direction:  column

    align-items:     center
    text-align:      center

    min-height:      100vh
    justify-content: space-between

    padding: 3rem 7%

    +to(xs)
      padding: 1rem

    // ----- Content layout -----
    > *:not(:last-child)
      margin-bottom: 1rem



  ////------------------------------------------
  .heroHeader-header
    //------------------------------------------

    // ----- Content layout -----
    .heroHeader-title
      margin-bottom: 1rem

      +from(xs)
        margin-bottom: 1.5rem

      +from(l)
        margin-bottom: 2rem



  ////------------------------------------------
  .heroHeader-title
    //------------------------------------------

    // ----- Text -----
    color: white !important

    // ----- RWD -----
    font-size:   1.5rem
    text-shadow: 0 0 1px white

    +from(xs)
      font-size:   2.2rem
      text-shadow: 0 0 2px white

    +from(l)
      font-size: 3rem



  ////------------------------------------------
  .heroHeader-subtitle
    //------------------------------------------

    // ----- Text -----
    font-family: 'Open Sans', sans-serif
    color:       #ddd !important

    // ----- RWD -----
    font-size: 1.2rem

    +from(xs)
      font-size: 1.4rem

    +from(l)
      font-size: 1.7rem



  ////------------------------------------------
  .heroHeader-avatar
    //------------------------------------------

    // ----- Layout -----

    // ----- Looks -----
    border:           5px solid white
    background-color: white
    border-radius:    50%
    box-shadow:       0 0 2px white

    // ----- RWD -----
    $width: 512px
    width:  ($width / 4)
    height: ($width / 4)

    +from(xs)
      width:  ($width / 3)
      height: ($width / 3)

    +from(s)
      width:  ($width / 2)
      height: ($width / 2)



  ////------------------------------------------
  .heroHeader-hire
    //------------------------------------------

    // ----- Layout -----
    max-width: 750px

    // ----- Text -----
    color:     white !important

    // ----- RWD -----
    display:         flex
    justify-content: space-between
    align-items:     center

    font-size: 1.1rem

    +to(xs)
      .heroHeader-hire-stamp
        display: none

    +from(xs)
      font-size: 1.3rem

    +from(s)
      font-size: 1.3rem

      .heroHeader-hire-stamp
        margin-right: 5%

      .heroHeader-hire-message
        flex-grow:  1
        text-align: left

    +from(l)
      font-size: 1.5rem



  ////------------------------------------------
  .heroHeader-hire-stamp
    //------------------------------------------

    // ----- Layout -----
    max-width: 223px



  ////------------------------------------------
  .heroHeader-scrollTo
    //------------------------------------------

    // ----- Looks -----
    font-size:       3rem
    line-height:     0.5
    text-decoration: none !important
    transform:       scale(1.75, 1)

    // ----- Behavior -----
    color: white
    &:hover
      color: #def
