{{#sec-tion
  class      = "heroHeader-inner"
  innerClass = "heroHeader-inner2"
}}

  <div class="heroHeader-header">
    <h1 class="heroHeader-title h1">
      {{t 'header.title'}} (lolmaus)
    </h1>

    <h2 class="heroHeader-subtitle">
      {{t 'header.subtitle'}}
    </h2>
  </div>{{!heroHeader-header}}



  <img
    class  = "heroHeader-avatar"
    src    = "https://pbs.twimg.com/profile_images/458644904189501440/ANprYN38.jpeg"
    alt    = "My face"
    width  = "512"
    height = "512"
  >


  <div class = "heroHeader-footer">
    <div class = "heroHeader-footer-main">
      <a
        class  = "heroHeader-footer-main-stamp -no-icon"
        href = "https://deveo.com"
      >
        <img
          src    = "https://deveo.com/wp-content/uploads/2016/04/D-deveo-fill.png"
          alt    = "Deveo.com"
          width  = "128"
          height = "128"
        >
      </a>

      <div class = "heroHeader-footer-main-message">
        {{t "header.footer"}}
      </div>{{! heroHeader-footer-main-message }}
    </div>{{! heroHeader-footer-main }}

    {{#scroll-to
      class      = "heroHeader-scrollTo"
      target     = scrollToTarget
    }}
      {{svg-jar "triangle-down"
        class = "heroHeader-scrollTo-icon"
      }}
    {{/scroll-to}}
  </div>{{! heroHeader-footer }}

{{/sec-tion}}