{{#sec-tion
  class      = "heroHeader-inner"
  innerClass = "heroHeader-inner2"
}}

  <div class="heroHeader-header">
    <h1 class="heroHeader-title h1">
      {{t 'header.title'}} (lolmaus)
    </h1>

    <h2 class="heroHeader-subtitle">
      {{t 'header.subtitle'}}
    </h2>
  </div>{{!heroHeader-header}}



  <img
    class  = "heroHeader-avatar"
    src    = "/images/lolmaus-profile-compressed.jpg"
    alt    = "My face"
    width  = "512"
    height = "512"
  >


  <div class = "heroHeader-footer">
    <div class = "heroHeader-footer-main">
      <div class = "heroHeader-footer-main-message">
        {{!t "header.footer"}}

        Working with an amazing team at

        <a
          class  = "heroHeader-footer-main-stamp -no-icon"
          href = "https://deveo.com"
        >
          {{svg-jar 'perforce' class = "heroHeader-footer-main-stamp-image"}}
        </a>

        — repository management platform done right
      </div>{{! heroHeader-footer-main-message }}
    </div>{{! heroHeader-footer-main }}

    {{#scroll-to
      class      = "heroHeader-scrollTo"
      target     = scrollToTarget
    }}
      {{svg-jar "triangle-down"
        class = "heroHeader-scrollTo-icon"
      }}
    {{/scroll-to}}
  </div>{{! heroHeader-footer }}

{{/sec-tion}}