{{#sec-tion
  class      = "heroHeader-inner"
  innerClass = "heroHeader-inner2"
}}

  <div class="heroHeader-header">
    <h1 class="heroHeader-title h1">
      {{t 'header.title'}} (lolmaus)
    </h1>

    <h2 class="heroHeader-subtitle">
      {{t 'header.subtitle'}}
    </h2>
  </div>{{!heroHeader-header}}



  <img
    class  = "heroHeader-avatar"
    src    = "https://pbs.twimg.com/profile_images/458644904189501440/ANprYN38.jpeg"
    alt    = "My face"
    width  = "512"
    height = "512"
  >


  <div class = "heroHeader-footer">
    <div class = "heroHeader-hire">
      <img
        class  = "heroHeader-hire-stamp"
        src    = "/images/index/hire.png"
        alt    = "Available for hire"
        width  = "446"
        height = "268"
      >

      <div class = "heroHeader-hire-message">
        {{t "header.hire" tweetUrl = "https://twitter.com/lolmaus_en/status/803274593603461120"}}
      </div>{{! heroHeader-hire-message }}
    </div>{{! heroHeader-hire }}

    {{#scroll-to
      class      = "heroHeader-scrollTo"
      target     = scrollToTarget
      scrollable = scrollable
    }}
      {{svg-jar "triangle-down"
        class = "heroHeader-scrollTo-icon"
      }}
    {{/scroll-to}}
  </div>{{! heroHeader-footer }}

{{/sec-tion}}