@import node_modules/sass-toolkit/stylesheets/toolkit/reset
@import app/styles/helpers/theme

@import app/styles/helpers/copy

+copy

body
  +theme(light)
  font-family: Merriweather, serif
  line-height: 1.5


h1, h2, h3, h4, h5, h6
  font-family: 'PT Sans Caption', sans-serif
  line-height: 1.2

a[href^="http"]:not(.-no-icon), .externalLink
  padding-right:   1rem
  background:      url('/images/icons/external-link.png') right center no-repeat transparent
  background-size: 12px 12px

.headingWithLink
  position: relative

.headingWithLink-link
  position:      absolute
  right:         100%
  padding-right: 0.1em
  display:       none

  .headingWithLink:hover &
    display: block
