@import node_modules/sass-toolkit/stylesheets/toolkit/reset
@import app/styles/helpers/theme

@import app/styles/helpers/copy

+copy

body
  +theme(light)
  font-family: 'PT Sans', sans-serif
  line-height: 1.3


h1, h2, h3, h4, h5, h6
  font-family: 'PT Sans Caption', sans-serif
