@at-root



  ////------------------------------------------
  .blogPost
    //------------------------------------------

    // ----- Content layout -----
    h1, h2, h3, h4, h5, h6, p, ul
      max-width:    config-get('lolma-us.layout.text-max-width')
      margin-left:  auto
      margin-right: auto



  ////------------------------------------------
  .blogPost-date
    //------------------------------------------

    // ----- Text -----
    color:     config-get('lolma-us.themes.light.label')
    font-size: 0.8rem
