@import headings

=copy

  +heading-sizes

  b, strong
    font-weight: bold

  em, i
    font-style: italic

  p, li, ul, pre
    &:not(:last-child)
      margin-bottom: 1em

  h1, h2, h3, h4, h5, h6
    font-weight: bold

    &:not(:first-child)
      margin-top: 1em

    h1 + &, h2 + &, h3 + &, h4 + &, h5 + &, h6 + &
      margin-top: 0

    &:not(:last-child)
      margin-bottom: 0.3em

  ul
    padding-left: 2em

  li
    list-style-type: disc

  *:not(pre) > code
    border-radius: 0.3em
    padding-left:  0.2em
    padding-right: 0.2em

  pre
    font-size:     0.9em
    overflow:      auto
    white-space:   pre
    border-radius: 0.3em

    > code
      padding: 1rem !important
