@at-root

  //@import app/styles/helpers/theme
  @import node_modules/breakpoint-slicer/stylesheets/breakpoint-slicer



  ////------------------------------------------
  .route-blog
    //------------------------------------------

    // ----- RWD -----
    +between(s, m)
      .route-blog-sidebar, .route-blog-sidebar-section._top
        display:         flex
        justify-content: space-around
        align-items:     center

        > *:not(:last-child)
          margin-right: 2rem


    +from(l)
      display: flex
      height:  100vh

      .route-blog-sidebar
        flex-shrink: 0
        order:       1
        width:       300px
        overflow-y:  auto

        display:         flex
        flex-direction:  column
        justify-content: space-between

        opacity: 0.5
        transition: opacity 0.3s

        &:hover
          opacity: 1

      .route-blog-content
        flex-grow:  1
        order:      2
        overflow-y: auto




  ////------------------------------------------
  .route-blog-sidebar
    //------------------------------------------

    // ----- Looks -----
    //+theme(dark, bg2)

    // ----- Layout -----
    padding:    2rem
    text-align: center

    // ----- Content layout -----
    .route-blog-sidebar-section
      &:not(:last-child)
        margin-bottom: 2rem

    .route-blog-sidebar-avatar
      width:     50%
      max-width: 128px

    .route-blog-sidebar-stamp
      width: 75%
      max-width: 223px

      transision: opacity 0.3s
      &:hover
        opacity: 0.9

    // ----- Behavior -----



  ////------------------------------------------
  .route-blog-sidebar-avatar
    //------------------------------------------

    // ----- Looks -----
    border-radius: 50%



  ////------------------------------------------
  .route-blog-sidebar-section._top
    //------------------------------------------

    // ----- Content layout -----
    .route-blog-subtitle
      margin-top: 1rem



  ////------------------------------------------
  .route-blog-subtitle
    //------------------------------------------

    // ----- Text -----
    font-size: 1.2rem



  ////------------------------------------------
  .route-blog-content-inner
    //------------------------------------------

    // ----- Content Layout -----
    > *
      $padding:       2rem
      padding-top:    $padding
      padding-bottom: $padding
