<div class = "route-blog">


  <div class = "route-blog-content">
    {{outlet}}
  </div>


  <div class = "route-blog-sidebar">

    <div class = "route-blog-sidebar-section _top">
      <img
        class  = "route-blog-sidebar-avatar"
        src    = "https://pbs.twimg.com/profile_images/458644904189501440/ANprYN38.jpeg"
        alt    = "My face"
        width  = "512"
        height = "512"
      >

      <h2 class = "route-blog-title">
        {{t 'header.title'}}
        @lolmaus
      </h2>

      <div class = "route-blog-subtitle">
        {{t 'header.subtitle'}}
      </div>
    </div>{{! route-blog-sidebar-section }}

    <div class = "route-blog-sidebar-section">
      {{#link-to 'locale.index'}}
        <img
          class  = "route-blog-sidebar-stamp"
          src    = "/images/index/hire.png"
          alt    = "Available for hire"
          width  = "446"
          height = "268"
        >
      {{/link-to}}
    </div>

  </div>{{! route-blog-sidebar }}


</div>{{! route-blog }}