<div class = "route-blogPost">

  {{link-to
    (t 'blogPost.back') 'locale.blog'
    class = "route-blogPost-back"
  }}

  {{blog-post
    class   = "route-blogPost-post"
    post    = model.post
  }}

  {{#unless fastboot.isFastBoot}}
    {{disqus-comments
      class      = "route-blogPost-comments"
      identifier = model.post.disqusId
      title      = model.post.title
    }}
  {{/unless}}

</div>{{! route-blogPost }}
