<div class = "route-blogPost">

  {{link-to
    '← To blog index' 'locale.blog'
    class = "route-blogPost-back"
  }}

  {{blog-post
    class   = "route-blogPost-post"
    post    = model.post
  }}

</div>{{! route-blogPost }}