@at-root

  @import app/styles/helpers/copy



  ////------------------------------------------
  .proJect
    //------------------------------------------

    // ----- Content layout -----
    .proJect-description
      margin-top: 0.2rem



  ////------------------------------------------
  .proJect-meta
    //------------------------------------------

    // ----- Layout -----
    display:     flex
    align-items: center
    flex-wrap:   wrap

    // ----- Content-layout -----
    > *
      &:not(:last-child)
        margin-right: 0.5rem

    img
      display: block



  ////------------------------------------------
  .proJect-description
    //------------------------------------------

    // ----- Text -----
    font-size: 0.8em
    +copy



  ////------------------------------------------
  .proJect-status
    //------------------------------------------

    // ----- Layout -----
    display: inline-block
    padding: 0.2em 0.5em

    // ----- Looks -----
    font-size:     0.6rem
    border-radius: 0.3rem
    font-weight:   bold
    color:         white

    // ----- Variations -----
    &.-status-2
      background-color: #ffea77

    &.-status-3
      background-color: #b9bbff

    &.-status-4
      background-color: #ffa781
