@at-root

  ////------------------------------------------
  .proJects
    //------------------------------------------

    // ----- Layout -----
    .proJects-title
      margin-bottom: 0.5rem

    .proJects-group-title
      margin-top:    2rem
      margin-bottom: 0.5rem

    // ----- Content layout -----
    .proJect.-stalled
      display: none

    .proJects-stalledInput:checked ~ .projectGroup .proJect.-stalled
      display: block

