<div class = "route-locale">

  {{input
    class   = "route-locale-menuToggler"
    id      = "route-locale-menuToggler"
    type    = "checkbox"
    checked = htmlState.menuToggler
  }}

  <label
    class = "route-locale-burger"
    for   = "route-locale-menuToggler"
  >
    {{svg-jar "hamburger" class = "route-locale-burger-icon"}}
  </label>

  <label
    class = "route-locale-backdrop"
    for   = "route-locale-menuToggler"
  ></label>



  {{side-menu class = "route-locale-menu"}}



  <div class = "route-locale-content">
    {{outlet}}
  </div>{{! route-locale-content }}

</div>{{! route-locale }}