@at-root

  @import node_modules/sass-toolkit/stylesheets/toolkit/triangle



  $icon-size:         25px
  $border-width:      1px
  $icon-inner-size:   $icon-size - 2 * $border-width
  $border-color:      grey
  $arrow-width:       9px
  $arrow-offset:      floor($icon-inner-size / 2) - floor($arrow-width / 2)



  ////------------------------------------------
  .timeLine
    //------------------------------------------

    // ----- Layout -----
    .timeLine-list
      margin-top: 1rem

    // ----- Behavior -----
    .timeLine-showDetails
      vertical-align: middle

    .timeLine-item-desc
      display: none

    .timeLine-showDetails:checked ~ .timeLine-list .timeLine-item-desc
      display: block




  ////------------------------------------------
  .timeLine-list
    //------------------------------------------

    // ----- Layout -----
    overflow:       hidden
    position:       relative
    padding-bottom: 0.5rem

    // ----- Content layout -----
    .timeLine-title
      margin-bottom: 0.5rem

    .timeLine-item
      &:not(:last-child)
        margin-bottom: 1rem



  ////------------------------------------------
  .timeLine-item
    //------------------------------------------

    // ----- Layout -----
    display:         flex
    justify-content: flex-start

    // ----- Content layout -----
    .timeLine-item-icon
      flex-shrink:  0
      margin-right: 1rem

    .timeLine-item-info
      flex-grow: 1



  ////------------------------------------------
  .timeLine-item-icon
    //------------------------------------------

    // ----- Layout -----
    width:        $icon-size
    height:       $icon-size
    border-width: $border-width
    text-align:   center
    position:     relative
    z-index:      2

    // ----- Looks -----
    border-color:     $border-color
    border-style:     solid
    border-radius:    50%
    background-color: white

    // ----- Content layout -----
    .timeLine-item-icon-icon
      position:  absolute
      top:       50%
      left:      50%
      transform: translate(-50%, -50%)
      height:    auto
      fill:      $border-color

      max-width: 60%
      &._education
        max-width: 70%

    // Line
    &:after
      content:     ''
      position:    absolute
      width:       0
      height:      1000px
      border-left: 1px solid $border-color
      left:        floor($icon-inner-size / 2)
      top:         100%

    // Spearhead
    &:before
      content:     ''
      position:    absolute
      left:        $arrow-offset
      top:         100%
      +triangle($border-color, 6px, $arrow-width, top)



  ////------------------------------------------
  .timeLine-item-info
    //------------------------------------------

    // ----- Content layout -----
    .timeLine-item-desc
      margin-top: 0.5rem



  ////------------------------------------------
  .timeLine-item-date
    //------------------------------------------

    // ----- Text -----
    font-size: 0.8em
    color:     config-get('lolma-us.themes.light.label')



  ////------------------------------------------
  .timeLine-item-desc
    //------------------------------------------

    // ----- Text -----
    font-size: 0.8em

    p, li, ul
      margin-top:    0.1em
      margin-bottom: 0.1em
