<h2 class = "timeLine-title -callout">
  {{t 'timeline.title'}}
</h2>

<div class = "timeLine-list">
  {{#each (array
    (hash start="2008-06" end=false     title='mgimo')
    (hash start="2008-07" end="2008-12" title="adv")
    (hash start="2008-12" end="2013-06" title="alfamb")
    (hash start="2011-12" end=false     title="stankin")
    (hash start="2013-07" end="2014-03" title="stkomp")
    (hash start="2014-03" end="2014-06" title="hivemind")
    (hash start="2014-06" end="2014-07" title="healthfundr")
    (hash start="2014-07" end="2014-08" title="mipt")
    (hash start="2014-09" end="2015-08" title="hellobaby")
    (hash start="2015-09" end="2016-11" title="firecracker")
    (hash start=(now)     end=true      title="yourteam")
  ) as |item|}}

    <div class = "timeLine-item">
      <div class = "timeLine-item-icon">
        <span class = "timeLine-item-icon-icon">📅</span>
      </div>{{! timeLine-item-icon }}

      <div class = "timeLine-item-info">
        <div class = "timeLine-item-date">
          {{#if item.start}}
            {{moment-format item.start 'MMM YYYY'}}
          {{/if}}

          {{#if item.end}}
            →
          {{/if}}

          {{#if (and item.end (not-eq item.end true))}}
            {{moment-format item.end 'MMM YYYY'}}
          {{/if}}
        </div>{{! timeLine-item-date }}

        {{markdown-to-html
          (t (concat 'timeline.items.' item.title))
          class = "timeLine-item-name"
        }}
      </div>{{! timeLine-item-info }}
    </div>{{! timeLine-item }}

  {{/each}}
</div>{{! timeLine-list }}